
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>


@Html.Partial("_EmPLOYEElIST")

<br />
<br />

@{
    Html.RenderPartial("_EmployeeList");
}
<br />
<br />

@Html.Partial("_LoginPartialView")
<br />
<br />
@{
    Html.RenderPartial("_LoginPartialView");

}